<div class="sidebar">
  <% if current_user %>

      <%= image_tag current_user.image_url, class: "avatar" %>
      <div class="card">
        <h1 class="name"><%= current_user.name %></h1>
        <p class="login"><%= current_user.username %></p>
      </div>
        <div class="card">
        <p class="email"><%= current_user.email %></p>
      </div>
  <% else %>
      <p>Log in to show data</p>
  <% end %>
</div>